body 
{
    background-color: Black;
}
h2
{
    font-size: 15pt;
    font-family: "Estrangelo Edessa", @Batang, "@DFKai-SB. font-weight: normal";
    font-style:  normal;
    color:  BlueViolet;
    margin-top: 0;
    margin-bottom: 20px;
	margin-left: 200px;
	width: 384px;
}
#main
{
    width: 800px;
    margin: 0 auto;
    background-color: white;
}
#footer
{
	width: 800px;
	height: 54px
	position: static;
	margin: 0 auto;
	background-color: gray;
}
#Menu
{
	margin-top: 0;
	margin-bottom: 15px
}
