vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|19 Mar 2012 05:22:24 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|m10401-PC\\m10401
vti_modifiedby:SR|m10401-PC\\m10401
vti_timecreated:TR|19 Mar 2012 05:22:24 -0000
vti_cacheddtm:TX|19 Mar 2012 05:22:24 -0000
vti_filesize:IR|1214
vti_backlinkinfo:VX|groupproject1/transportation.htm groupproject1/about.htm groupproject1/hotels.htm groupproject1/dining.htm groupproject1/member.htm groupproject1/shopping.htm groupproject1/beaches.htm groupproject1/home.htm groupproject1/activities.htm groupproject1/contact.htm groupproject1/faqs.htm groupproject1/food.htm
